body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
  height: 200vh;
  background-color: #000; /* Background color for better contrast */
  text-decoration: none;
}

body::-webkit-scrollbar {
  display: none;
}

#canvas-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Height of the canvas */
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 100%;
  height: 100%;
  border: 1px solid black; /* Optional: add a border to see the canvas edges */
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: auto; /* Allows clicks to pass through */
}

.text {
  text-align: center;
}

.white {
  color: whitesmoke;
}

.title-oz {
  font-size: 5vw;
}

.subtitle-oz {
  font-size: 3.5vw;
}

#icons {
  margin-top: 20px;
  display: flex;
}

.carousel_spacing {
  margin-left: 10vw;
  margin-right: 10vw;
}

.research {
  border-radius: 50%;
  height: 10vh; /* Use viewport height instead of percentage */
  width: 100vw; /* Use viewport width instead of percentage */
  max-width: 100%; /* Ensure the element doesn't exceed its parent's width */
}

.modal-subtitle {
  font-size: 1.5vw;
  margin: 0 8rem 4rem 8rem;
}

/* Small screens (e.g. mobile devices) */
@media only screen and (max-width: 768px) {
  .modal-subtitle {
    font-size: 2.5vw;
    margin: 0 2rem 2rem 2rem;
  }
}

/* Medium screens (e.g. tablets) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .modal-subtitle {
    font-size: 2vw;
    margin: 0 4rem 3rem 4rem;
  }
}

/* Large screens (e.g. desktops) */
@media only screen and (min-width: 993px) {
  .modal-subtitle {
    font-size: 1.5vw;
    margin: 0 8rem 4rem 8rem;
  }
}

.icons_only {
  margin: 0 1vw;
  font-size: 2rem;
}

.card01 {
  transition: transform 0.5s;
}

.card01:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.card02 {
  transition: transform 0.5s;
}

.card02:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.card03 {
  transition: transform 0.5s;
}

.card03:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.card04 {
  transition: transform 0.5s;
}

.card04:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

#animate-git {
  transition: transform 0.5s;
}

#animate-git:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

#animate-beh {
  transition: transform 0.5s;
}

#animate-beh:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

#animate-lin {
  transition: transform 0.5s;
}

#animate-lin:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

.bi-behance:hover {
  color: #26f68e;
}

.bi-github:hover {
  color: #fab647;
}

.bi-linkedin:hover {
  color: #2e8bf4;
}

.crash {
  transition: transform 0.8s;
}

.crash:hover {
  text-shadow: 0 0 35px #ff0000;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.card-img-top {
  border-radius: 15px;
}

.card-body {
  text-align: left;
  z-index: 1;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.links {
  text-decoration: none;
}

.quote-size {
  font-size: 1.2vw;
}

.contact-text {
  margin: 0 1vw;
  font-size: 1.5vw;
}

.header_size {
  font-size: 36px;
}

.reddit {
  color: #e62605;
  text-decoration: none;
  font-size: 1.2vw;
}

/* Large screen sizes (desktops, laptops) */
@media (max-width: 1200px) {
  .header_size {
    font-size: 32px;
  }
}

/* Medium screen sizes (tablets, small laptops) */
@media (max-width: 768px) {
  .header_size {
    font-size: 28px;
  }

  .research {
    width: 10vw;
    height: 8vh; /* Adjust the height for smaller screens */
  }

  .icons_only {
    font-size: 1.6rem;
  }
}

/* Small screen sizes (mobile devices) */
@media (max-width: 480px) {
  .header_size {
    font-size: 24px;
  }

  .research {
    width: 12vw;
    height: 6vh; /* Adjust the height for even smaller screens */
  }

  .icons_only {
    font-size: 1.4rem;
  }
}

/* Large screen sizes (desktops, laptops) */
@media (max-width: 1200px) {
  .icons_only {
    font-size: 1.8rem;
  }
}

/* Extra small screen sizes (small mobile devices) */
@media (max-width: 320px) {
  .icons_only {
    font-size: 1.2rem;
  }
}

/* Small screens (mobile) */
@media only screen and (max-width: 768px) {
  .quote-size {
    font-size: 16px; /* or 1.5em, 2rem, etc. */
  }

  .contact-text {
    margin: 0 16px; /* fixed margin for small screens */
    font-size: 18px; /* fixed font size for small screens */
  }

  .reddit {
    font-size: 1rem;
  }
}

/* Medium screens (tablet) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .quote-size {
    font-size: 18px; /* or 1.75em, 2.25rem, etc. */
  }

  .contact-text {
    margin: 0 2vw; /* adjusted margin for medium screens */
    font-size: 20px; /* adjusted font size for medium screens */
  }

  .reddit {
    font-size: 1.2rem;
  }
}

/* Large screens (desktop) */
@media only screen and (min-width: 993px) {
  .quote-size {
    font-size: 1.2vw; /* keep the original value for large screens */
  }

  .contact-text {
    margin: 0 1vw; /* keep the original margin for large screens */
    font-size: 1.5vw; /* keep the original font size for large screens */
  }

  .reddit {
    font-size: 1.2vw;
  }
}

.card_body_color {
  background-color: transparent;
  color: white;
  border: 0.5px solid #777676;
  height: auto;
  border-radius: 15px;
}

.card-title {
  font-size: 1.8vw;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 45%, rgba(0, 0, 0, 0.6) 60%, 
  rgba(0, 0, 0, 0.7) 65% ,
  rgba(0, 0, 0, 0.8) 70% ,
  rgba(0, 0, 0, 0.9) 75% ,
  rgba(0, 0, 0) 80%, 
  rgb(0, 0, 0) 100%);  border-radius: 15px;
}

/* Small screens (e.g. mobile devices) */
@media only screen and (max-width: 768px) {
  .card-img-overlay {
    background: linear-gradient(to bottom, transparent 45%, rgba(0, 0, 0, 0.6) 60%, 
    rgba(0, 0, 0, 0.7) 65% ,
    rgba(0, 0, 0, 0.8) 70% ,
    rgba(0, 0, 0, 0.9) 75% ,
    rgba(0, 0, 0) 80%, 
    rgb(0, 0, 0) 100%);  }
}

/* Medium screens (e.g. tablets) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .card-img-overlay {
    background: linear-gradient(to bottom, transparent 45%, rgba(0, 0, 0, 0.6) 60%, 
    rgba(0, 0, 0, 0.7) 65% ,
    rgba(0, 0, 0, 0.8) 70% ,
    rgba(0, 0, 0, 0.9) 75% ,
    rgba(0, 0, 0) 80%, 
    rgb(0, 0, 0) 100%);  }
}

/* Large screens (e.g. desktops) */
@media only screen and (min-width: 993px) {
  .card-img-overlay {
    background: linear-gradient(to bottom, transparent 45%, rgba(0, 0, 0, 0.6) 60%, 
                                                            rgba(0, 0, 0, 0.7) 65% ,
                                                            rgba(0, 0, 0, 0.8) 70% ,
                                                            rgba(0, 0, 0, 0.9) 75% ,
                                                            rgba(0, 0, 0) 80%, 
                                                            rgb(0, 0, 0) 100%);
  }
}

.grey {
  color: #d8d6d6;
}

.model_body_color {
  background-color: black;
  color: white;
  border-color: #d8d6d6;
  height: auto;
}

.img_height {
  height: 40vh; /* 30% of the viewport height */
}

.icon_style {
  margin: 0.5rem;
}

.kk {
  top: 0;
  width: 100%;
  background-color: black; /* Initial background color */
  transition: background-color 0.3s;
  color: white;
}

.kk.scrolled {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
  color: #000;
  overflow-x: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.kk a {
  color: white; /* Ensures that anchor tags within .kk have white text */
}

.kk .navbar-nav .nav-link {
  color: white; /* Ensures the nav link color is white */
}

.kk.scrolled a {
  color: black;
}

.kk.scrolled .navbar-nav .nav-link {
  color: black;
}

.about-me {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.about_text {
  font-size: 14px;
}

.profile-container {
  display: inline-block; /* Ensures the container fits the image size */
  position: relative; /* Needed for the pseudo-element positioning */
  padding: 5px; /* Adjust to control the distance between the ring and the image */
}

.profile-img {
  border-radius: 50%;
  height: 18vw;
  width: 18vw;
  margin-top: 2rem;
  display: block; /* Ensures the image behaves as a block element */
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  margin: 0 2%; /* Add this line */
}

.profile-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  margin-top: 2rem;
  border: 2px solid #23a6d5; /* Adjust the border color and thickness */
  z-index: -1; /* Place the ring behind the image */
  box-shadow: 0 0 0 5px transparent; /* Creates the spacing between the border and the image */
}

html {
  scroll-padding-top: 90px; /* Adjust this value to match your navbar's height */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-icon {
  animation: blink 1s infinite;
  font-size: 0.6rem;
}

.modal-fullscreen {
  max-width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  border-radius: 0;
}

.card-text {
  font-size: 14px;
}

.header-modal {
  font-size: 4rem;
  font-weight: bold;
  background: linear-gradient(45deg, #ff6b6b, #f06595, #845ef7, #339af0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: 1rem;
}

/* Small screens (e.g. mobile devices) */
@media only screen and (max-width: 768px) {
  .header-modal {
    font-size: 2.5rem;
  }
}

/* Medium screens (e.g. tablets) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .header-modal {
    font-size: 3rem;
  }
}

/* Large screens (e.g. desktops) */
@media only screen and (min-width: 993px) {
  .header-modal {
    font-size: 4rem;
  }
}

.view-resume {
  margin-left: 1vw;
  margin-top: 3vw;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 200px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: #5d5d5d;
  top: 0;
  bottom: 0;
  left: 100%;
}

.container-timeline {
  position: relative;
}

.container-timeline.left {
  left: 0%;
  width: 12rem;
}

.container-timeline.right {
  left: 100%;
  width: 15rem;
  height: auto;
}

.container-timeline::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -3px;
  background: #ffffff;
  border-radius: 16px;
  z-index: 1;
}

.container-timeline.right::after {
  left: -8px;
}

.container-timeline::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #006e51;
  z-index: 1;
}

.container-timeline.right::before {
  background: #f7408d;
  left: 8px;
}

.container-timeline .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  color: #e8ebea;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container-timeline.left .date {
  right: -185px;
}

.container-timeline.right .date {
  left: -185px;
}

.container-timeline .icon {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  top: calc(50% - 15px);
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  z-index: 1;
}

.container-timeline.left .icon {
  right: 40px;
  background: #fafafa;
  border: 2px solid #1da581;
  color: #1da581;
}

.container-timeline.right .icon {
  left: 40px;
  background: #fafafa;
  border: 2px solid #f7408d;
  color: #f7408d;
}

.container-timeline .content {
  padding: 10px 30px 0px 10px;
  border-radius: 0 500px 500px 0;
  margin-right: 20px;
  border: 2px solid #03b787;
}

.container-timeline.right .content {
  padding: 10px 10px 0px 55px;
  border-radius: 500px 0 0 500px;
  margin-left: 20px;
  border: 2px solid #f53874;
}

.container-timeline .content p {
  font-size: 12px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .timeline {
    position: relative;
    width: 100%;
  }

  .timeline::after {
    content: "";
    position: absolute;
    width: 2px;
    background: #5d5d5d;
    top: 0;
    bottom: 0;
    left: 42vw;
  }

  .container-timeline {
    position: relative;
  }

  .container-timeline.left {
    left: 0%;
    width: 40vw;
  }

  .container-timeline.right {
    left: 100%;
    width: 45vw;
    height: auto;
  }

  .container-timeline::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: -3px;
    background: #ffffff;
    border-radius: 16px;
    z-index: 1;
  }

  .container-timeline.right::after {
    left: -30px;
  }

  .container-timeline::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 2px;
    top: calc(50% - 1px);
    right: 8px;
    background: #006e51;
    z-index: 1;
  }

  .container-timeline.right::before {
    background: #f7408d;
    left: -25px;
  }

  .container-timeline .date {
    position: absolute;
    display: inline-block;
    top: calc(50% - 8px);
    color: #e8ebea;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
  }

  .container-timeline.left .date {
    right: -185px;
  }

  .container-timeline.right .date {
    left: -185px;
  }

  .container-timeline .icon {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    top: calc(50% - 15px);
    border-radius: 40px;
    text-align: center;
    font-size: 18px;
    z-index: 1;
  }

  .container-timeline.left .icon {
    right: 40px;
    background: #fafafa;
    border: 2px solid #1da581;
    color: #1da581;
  }

  .container-timeline.right .icon {
    left: 20px;
    background: #fafafa;
    border: 2px solid #f7408d;
    color: #f7408d;
  }

  .container-timeline .content {
    padding: 10px 30px 0px 10px;
    border-radius: 0 500px 500px 0;
    margin-right: 20px;
    border: 2px solid #03b787;
  }

  .container-timeline.right .content {
    padding: 10px 10px 0px 55px;
    border-radius: 500px 0 0 500px;
    margin-left: 5px;
    border: 2px solid #f53874;
  }

  .container-timeline .content p {
    font-size: 12px;
  }
}

.img-responsive {
  width: 3vw;
  height: auto;
}

/* Small screens (e.g. mobile devices) */
@media only screen and (max-width: 768px) {
  .img-responsive {
    width: 6vw;
    height: auto;
  }
}

/* Medium screens (e.g. tablets) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .img-responsive {
    width: 4vw;
    height: auto;
  }
}

/* Large screens (e.g. desktops) */
@media only screen and (min-width: 993px) {
  .img-responsive {
    width: 3vw;
    height: auto;
  }
}

/* Extra large screens (e.g. large desktops) */
@media only screen and (min-width: 1200px) {
  .img-responsive {
    width: 2.5vw;
    height: auto;
  }
}
