body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
  height: 200vh;
  background-color: #000; /* Background color for better contrast */
  text-decoration: none;
}

body::-webkit-scrollbar {
  display: none;
}

#canvas-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Height of the canvas */
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 100%;
  height: 100%;
  border: 1px solid black; /* Optional: add a border to see the canvas edges */
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: auto; /* Allows clicks to pass through */
}

.text {
  text-align: center;
}

.white {
  color: whitesmoke;
}

.title-oz {
  font-size: 5vw;
}

.subtitle-oz {
  font-size: 3.5vw;
}

.blur-container {
  backdrop-filter: blur(10px) saturate(20%);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
}

#icons {
  margin-top: 20px;
  display: flex;
}

.carousel_spacing{
  margin-left: 10vw;
  margin-right: 10vw;
}

.card-title{
  font-size: 1.5vw;
}

.research{
  border-radius: 50%; 
  height: 100%; 
  width: 100%;
}

.modal-subtitle{
  font-size: 1.5vw; 
  margin: 0 8rem 4rem 8rem;
}

.icons_only {
  margin: 0 1vw;
  font-size: 2rem;
}

.card-img-top{
  padding: 10px; 
  border-radius: 15px;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.links {
  text-decoration: none;
}

.about-me {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.about_text {
  font-size: 14px;
}

.quote-size {
  font-size: 1.2vw;
}

.header_size {
  font-size: 36px;
}

.contact-text {
  margin: 0 1vw;
  font-size: 1.5vw;
}

.card_body_color {
  background-color: transparent;
  color: white;
  border-color: #d8d6d6;
  height: auto;
}

.model_body_color {
  background-color: black;
  color: white;
  border-color: #d8d6d6;
  height: auto;
}

.img_height {
  height: 302px;
}

.icon_style {
  margin: 0.5rem;
}

.kk {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black; /* Initial background color */
  transition: background-color 0.3s;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}

.kk.scrolled {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: #000;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.kk a {
  color: white; /* Ensures that anchor tags within .kk have white text */
}

.kk .navbar-nav .nav-link {
  color: white; /* Ensures the nav link color is white */
}

.kk.scrolled a {
  color: black;
}

.kk.scrolled .navbar-nav .nav-link {
  color: black;
}
.profile-container {
  display: inline-block; /* Ensures the container fits the image size */
  position: relative; /* Needed for the pseudo-element positioning */
  padding: 5px; /* Adjust to control the distance between the ring and the image */
}

.profile-img {
  border-radius: 50%;
  height: 180px;
  width: 180px;
  margin-top: 2rem;
  display: block; /* Ensures the image behaves as a block element */
}

.profile-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  margin-top: 2rem;
  border: 2px solid #23a6d5; /* Adjust the border color and thickness */
  z-index: -1; /* Place the ring behind the image */
  box-shadow: 0 0 0 5px transparent; /* Creates the spacing between the border and the image */
}

html {
  scroll-padding-top: 90px; /* Adjust this value to match your navbar's height */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-icon {
  animation: blink 1s infinite;
  font-size: 0.6rem;
}

.modal-fullscreen {
  max-width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  border-radius: 0;
}

.card-text {
  font-size: 14px;
}

.header-modal {
  font-size: 4rem;
  font-weight: bold;
  background: linear-gradient(45deg, #ff6b6b, #f06595, #845ef7, #339af0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: 1rem;
}

.view-resume {
  margin-left: 3.5rem;
  margin-top: 3rem;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 200px;
  margin-left: 3rem;
  margin-top: 1rem;
  padding: 0;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: #5d5d5d;
  top: 0;
  bottom: 0;
  left: 100%;
}

.container-timeline {
  position: relative;
}

.container-timeline.left {
  left: 0%;
  width: 12rem;
}

.container-timeline.right {
  left: 100%;
  width: 18rem;
}

.container-timeline::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -12px;
  background: #ffffff;
  border: 2px solid #d6d8d8;
  border-radius: 16px;
  z-index: 1;
}

.container-timeline.right::after {
  left: -8px;
}

.container-timeline::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #006e51;
  z-index: 1;
}

.container-timeline.right::before {
  left: 8px;
}

.container-timeline .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #e8ebea;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container-timeline.left .date {
  right: -185px;
}

.container-timeline.right .date {
  left: -185px;
}

.container-timeline .icon {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  top: calc(50% - 15px);
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  z-index: 1;
}

.container-timeline.left .icon {
  right: 40px;
  background: #fafafa;
  border: 2px solid #1da581;
  color: #1da581;
}

.container-timeline.right .icon {
  left: 40px;
  background: #fafafa;
  border: 2px solid #f7408d;
  color: #f7408d;
}

.container-timeline .content {
  padding: 10px 60px 10px 10px;
  background: transparent;
  position: relative;
  border-radius: 0 500px 500px 0;
  margin-right: 20px;
  border: 2px solid #03b787;
}

.container-timeline.right .content {
  padding: 10px 10px 10px 80px;
  border-radius: 500px 0 0 500px;
  margin-left: 20px;
  border: 2px solid #f53874;
}

.container-timeline .content h2 {
  margin: 0 0 10px 0;
  font-size: 14px;
  font-weight: bold;
  color: #d7dedc;
}

.container-timeline .content p {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .container-timeline {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container-timeline.right {
    left: 0%;
  }

  .container-timeline.left::after,
  .container-timeline.right::after {
    left: 82px;
  }

  .container-timeline.left::before,
  .container-timeline.right::before {
    left: 100px;
    border-color: transparent #006e51 transparent transparent;
  }

  .container-timeline.left .date,
  .container-timeline.right .date {
    right: auto;
    left: 15px;
  }

  .container-timeline.left .icon,
  .container-timeline.right .icon {
    right: auto;
    left: 146px;
  }

  .container-timeline.left .content,
  .container-timeline.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}
